images/
images_det/
*.pyc
*.jpg
*.mp4
*.pkl
detector/lib/build
*.tar
ego4d/aws/
aws/

*.log
*.pyc
ego4d/forecasting/dist/
*.egg-info
ego4d/forecasting/lightning_logs/
.vscode/
ego4d/forecasting/pretrained_models/
ego4d/forecasting/data/

.env

.idea/
batch*
*.out
*/__pycache__/
__pycache__/
eccv-ego4d/forecasting_eval/pretrained_models/
eccv-ego4d/forecasting_eval/*/*.pth
eccv-ego4d/forecasting_eval/*/*.ckpt
eccv-ego4d/forecasting_eval/*/object_detections.json
eccv-ego4d/forecasting_eval/short_term_anticipation/models/object_detector/*.pth
eccv-ego4d/forecasting_eval/short_term_anticipation/models/object_detector/inference/*.pth
eccv-ego4d/forecasting_eval/short_term_anticipation/models/object_detector/last_checkpoint
eccv-ego4d/forecasting_eval/short_term_anticipation/data/object_detector.pth
eccv-ego4d/forecasting_eval/short_term_anticipation/data/slowfast_model.ckpt
eccv-ego4d/forecasting_eval/short_term_anticipation/data/object_detections.json
eccv-ego4d/workdir/

# ROS files
forecasting_ws/devel/
forecasting_ws/build/
